<!DOCTYPE html>
<html>
<%-include("partials/head.ejs",{title:"Blank - Nói với em"})%>

<body class="sidebar-mini fixed">
  <div class="wrapper">
  <%- include("partials/header.ejs")%>
  <%- include("partials/nav.ejs",{name:'blank'})%>
  
    <div class="content-wrapper">
       <%- include("partials/page-title.ejs",{title:'Blank'})%>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">Load Your Data Here</div>
          </div>
        </div>
      </div>
    </div>
  </div>
 <%- include("partials/scripts.ejs")%>
</body>

</html>