<!DOCTYPE html>
<html>
<%-include("partials/head.ejs",{title:"Facebook Dev - Nói với em"})%>

<body class="sidebar-mini fixed">
  <div class="wrapper">
  <%- include("partials/header.ejs")%>
  <%- include("partials/nav.ejs",{name:"facebook"})%>
  
    <div class="content-wrapper">
      <%- include("partials/page-title.ejs",{title:'Facebook Dev'})%>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <p id='t'></p>
              <button onclick="myFacebookLogin()">Login with Facebook</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 <%- include("partials/scripts.ejs")%>
</body>

</html>