<!DOCTYPE html>
<html>
<%-include("partials/head.ejs",{title:"Blank - Nói với em"})%>

<body class="sidebar-mini fixed">
  <div class="wrapper">
  <%- include("partials/header.ejs")%>
  <%- include("partials/nav.ejs",{name:"graphql"})%>
  
    <div class="content-wrapper">
    <%- include("partials/page-title.ejs",{title:'GraphQl'})%>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <iframe frameborder="0" width="100%" height="550px"></iframe>
          </div>
        </div>
      </div>
    </div>

  </div>
 <%- include("partials/scripts.ejs")%>
   <script>
    var card = document.getElementsByTagName("iframe")[0];
    card.src = src;
  </script>
</body>

</html>